body{
    background:url('../img/ta.jpg');
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:5vh;
}
a{
    text-align:center;
    padding-top:15vh;
    display:block;
    background:url('../img/images.jpg')no-repeat;
    background-size:cover;
    background-position: center;
    color:rgba(0, 0, 0, 0);
    font-size:25px;
    text-decoration-line: none;
    width:15vw;
    height:30vh;
    margin:10vh 5vw;
    border-radius:3px;
    border:5px groove gold;
    box-shadow:3px 3px 3px black;
    transform:rotatey(180deg);
    transition:transform 0.5s;
}
a:hover{
    transform:rotatey(0deg);
    color:gold;
    background-image:none;
    background-color: rgb(241, 241, 241);
}